<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout2}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/owl.carousel.min.js"></script>

</head>
<body>
	<section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" data-setbg="img/trending/jururu.png">
                            <div class="view"><i class="fa-solid fa-heart"></i> 9141</div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <div class="anime__details__btn">
                                    <h3>주르르</h3>                            
                                    <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i> Follow</a>
                                    <a href="#" class="watch-btn"><span>Watch Now</span></a>
                                </div>
                            </div>
                        <div>
                            <p>일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔 한줄에 47글자                          </p>
                        </div>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-12" style="margin-bottom : 20px;">
                                        <div class="anime__review__item__text">
                                            <h6>마젠타 <span>1 Hour ago</span> </h6>
                                            <p>일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔</p>
                                        </div>
                                    </div>
                                    <div class="col-12" style="margin-bottom : 20px;">
                                        <div class="anime__review__item__text">
                                            <h6>마젠타 <span>2 Hour ago</span></h6>
                                            <p>아저씨왜안돼요한번만더생각해요그저난모를뿐이죠이게그렇게잘못인가요</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="anime__details__form">
                            <div class="section-title">
                                <h5>Your Comment</h5>
                            </div>
                            <form action="#">
                                <textarea placeholder="Your Comment"></textarea>
                                <button class="comment_btn" type="submit"><i class="fa fa-location-arrow"></i>Comment</button>
                            </form>
                        </div>
                        <div class="anime__details__review">
                            <div class="anime__review__item col-12" >
                                <div class="anime__review__item__pic">
                                    <img src="img/anime/review-1.jpg" alt="">
                                </div>
                                <div class="anime__review__item__text" style="margin: 10px 0px;">
                                    <h6>닉네임 - <span>등록시간 : 23.02.02</span></h6>
                                    <p>일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔</p>
                                </div>
                                <div class="FeedComment_wrap">
                                    <button class="FeedCommentBtn" type="button"><i class="fa-solid fa-comment"></i></button>
                                </div>
                                <hr>
                            </div> 
                        </div>
                        <div class="anime__details__review">
                            <div class="anime__review__item col-12" >
                                <div class="anime__review__item__pic">
                                    <img src="img/anime/review-1.jpg" alt="">
                                </div>
                                <div class="anime__review__item__text" style="margin: 10px 0px;">
                                    <h6>닉네임 - <span>등록시간 : 23.02.02</span></h6>
                                    <p>일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔</p>
                                </div>
                                <div class="FeedComment_wrap">
                                    <button type="button"><i class="fa-solid fa-comment"></i></button>
                                </div>
                                <hr>
                            </div> 
                        </div>
                    </div>

                    <!-- 오른쪽 사이드 -->
                    <div class="col-lg-4 col-md-4">
                        <div class="anime__details__sidebar">
                            <div class="section-title">
                                <h5>이거 보고갈래?</h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg">
                                <h5><a href="https://www.youtube.com/embed/Empfi8q0aas"><img src="img/sidebar/ISECYPHER.jpg" alt="CYPHER"></a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg">
                                <h5><a href="https://www.youtube.com/embed/Empfi8q0aas"><img src="img/sidebar/ISECYPHER.jpg" alt="CYPHER"></a></h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    	</div>
    </section>
		<script
			src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
		<script>
			var swiper = new Swiper(".mySwiper", {
				cssMode : true,

				navigation : {
					nextEl : ".swiper-button-next",
					prevEl : ".swiper-button-prev",
				},
				pagination : {
					el : ".swiper-pagination",
					clickable : true
				},
				loop : true,
				autoplay : {
					delay : 1000,
					disableOnInteraction : false,
				},
				mousewheel : true,
				keyboard : true,

			});
		</script>
	</div>

</body>
</html>