<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout3}">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>Insert title here</title>
<script src="/js/owl.carousel.min.js"></script>
<script th:inline="javascript">
</script>
<link rel="stylesheet" href="/css/board.css">
</head>
<body>
	<div layout:fragment="content">
		<section class="anime-details spad">
	        <div class="container">
	           <div class="board_wrap">
	           		<h3>팬아트</h3>
	           		<p>여러분의 소중한 작품을 모두에게 알리세요.</p>
	           </div>
	           <div class="board_view_wrap">
	           		<div class="board_view">
	           			<div class="title">
	           				[[${boardInfo.title}]]
	           				
	           			</div>
	           			<div class="info">
	           				<dl>
	           					<dt>글쓴이</dt>
	           					<dd>[[${boardInfo.writer}]]</dd>
	           				</dl>
	           				<dl>
	           					<dt>작성일</dt>
								<dd th:text="${#temporals.format(boardInfo.regTime, 'yyyy-MM-dd  HH:mm')}"></dd>
	           				</dl>
	           			</div>
	           			<div class="cont" style="text-align:center;">
	           				<img th:src="@{${boardInfo.imgUrl}}" alt="Board Image">
	           				<p th:text="${boardInfo.content}" style="text-align:left"></p>
	           				
	           			</div>
	           		</div>
	           		<div class="bt_wrap">
		           		<div class="bt_wrap">
		           			<form th:action="@{/board/{memberId}(memberId=${boardInfo.broad.member.id})}" method="get">
    							
    							<button type="submit" class="on">목록</button>
							</form>
		           			<a th:href="@{/board/edit/{boardId}(boardId=${boardInfo.id})}">수정</a>
		           		</div>
	           		</div>
	           </div>
            </div>
	    </section>
	</div>

</body>
</html>