<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout2}">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>Insert title here</title>
<script src="/js/owl.carousel.min.js"></script>
<link rel="stylesheet" href="/css/board.css">
<script th:inline="javascript">
 $(function(){
	 $('.delete').click(function(){
	 var id = $(this).data('id');
	 if(confirm("게시물을 삭제하시겠습니까?")) {
		 $.ajax({
			 url: '/del/' + id,
			 type: 'GET',
			 success: function(result) {
				 alert('게시물이 삭제되었습니다.');
				 window.location.reload();
			 },
			 error: function(xhr, status, error) {
				 alert('게시물 삭제 실패 실패');
				 console.log(xhr.responseText);
				 }
		 	});		 		 
	 	}
	 });
 });
</script>
<style>
	#only_feedcon{
		border: 1px dashed #ddd;
	}
	#only_feedcon:hover{
		cursor: pointer;
	}
</style>
</head>
<body>
<div layout:fragment="content">
	<section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg">
                        	<img class="img-fluid" th:src="${member.imgUrl}" alt="streamer image">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                               <div class="anime__details__btn">
                                   <h3>[[${member.nickname}]]</h3>                            
                                   <a th:href="${broad.broadUrl}" class="watch-btn" target="_blank" ><span>Watch Now</span></a>
                               </div>
                            </div>
                            <br>
		                       <div>
		                           <p>[[${member.broadInfo}]]</p>
		                       </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="anime__details__form">
						<!--<div class="section-title">
                                <h5></h5>
                            </div> -->
                       
								<textarea placeholder="로그인하고 피드를 남겨보세요." id="only_feedcon" name="only_feedcon" onclick="location.href='/members/login';" readonly sec:authorize="anonymous"></textarea>
							
							<form th:action="'/view/'+${member.id}" id="feedCommentForm">
                                <textarea placeholder="포스트를 남겨보세요." id="feedcon" name="feedcon" style="border: 1px dashed #ddd;" sec:authorize="isAuthenticated()"></textarea>
                                <button class="comment_btn" type="submit" sec:authorize="isAuthenticated()" ><i class="fa fa-location-arrow"></i>Comment</button>
                            </form>
                            
                            <!-- Button trigger modal -->


                        </div>
                        <div class="anime__details__review" th:fragment="feedReview">
                            <th:block th:each="feedList : ${feed1}">
                            <div class="anime__review__item" >
                                <div class="anime__review__item__pic">
                                    <img th:src="${feedList.member.imgUrl}" alt="">
                                </div>
                                <div class="anime__review__item__text" style="margin: 10px 0px;">
                                	<!-- 날짜 자르기 substring -->
                                    <h6>[[${feedList.member.nickname}]] <span>[[${#strings.substring(feedList.feedTime, 0, 10)}]] [[${#strings.substring(feedList.feedTime, 11, 19)}]]</span></h6>
                                    <p>[[${feedList.feedcon}]]</p>
                                </div>
                                
                                <div th:if="${feedList.member.id} == ${loginmember.id} or ${feedList.broad.member.id} == ${loginmember.id}" style="text-align:right">
                                <!-- <a th:href="'/del/' + ${feedList.id}">삭제</a> -->
                                <button type="button" class="delete btn btn-secondary" th:data-id="${feedList.id}">삭제</button>
                                </div>
                            </div> 
                                <hr>
                            </th:block>
                        </div>
                        
                    </div>
                   <div class="col-5">
                   <h3 style="text-align:center; padding: 10px;">유튜브 인기영상</h3>
                   	<ul style="list-style:none; display:flex; flex-direction:column; align-items: center;">
                   		<li th:each="video : ${videos}">
       						<iframe th:src="'https://www.youtube.com/embed/' + ${video.getId()}" style="display:block; width:25vw; height:13vw;" frameborder="0" allowfullscreen></iframe>
       						</br>
                   		</li>
                   	</ul>
                   </div>
               	</div>
           </div>
    </section>
    <script>
    $('#feedCommentForm').on('submit', function (e) {
        e.preventDefault();
        console.log("here?")
        console.log($(this).attr('action'))
        data = {
           feedcon: $('#feedcon').val(),
         };
        console.log(data)
        console.log($("meta[name='_csrf_header']").attr("content"))
         /* var feedData = JSON.stringify(data); 
        
        */
         $.ajax({
              url: $(this).attr('action'), //컨트롤러로 가는 주소값
              type: 'POST', //넘겨주는방식
              contentType: 'application/json', //보내는 데이터의 형식
              data: $('#feedcon').val(), //보내는 데이터 그 자체
              dataType: 'text', // 받는 데이터의 형식
              beforeSend: function (xhr) { //ajax하기전에 뭔가 해줌, 여기서는 csrf 토큰, 헤더 넣어주는것.
                  xhr.setRequestHeader($("meta[name='_csrf_header']").attr("content"), $("meta[name='_csrf']").attr("content"));
              },
              cache: false,
              success: function (frag) { //컨트롤러에서 받아온 fragment text를 frag라는 변수명으로 받아서 옴.   function(ajax가 성공했을때 받아온 데이터를 변수명으로 설정함.)
                  console.log(frag)
                  $('.anime__details__review').replaceWith(frag); //.anime__details__review로 replaceWith(text내용) 해줌.
                  $('#feedcon').val('');
                  alert("코멘트가 등록되었습니다.")
              },
              error: function(jqXHR, status, error) {
                  alert('포스트 등록에 실패하였습니다.')
                  console.log(error)
                  console.log(status)
                  console.log(jqXHR)
              },
          })
     });
		</script>
</div>

		<script	src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
		<script>
			var swiper = new Swiper(".mySwiper", {
				cssMode : true,

				navigation : {
					nextEl : ".swiper-button-next",
					prevEl : ".swiper-button-prev",
				},
				pagination : {
					el : ".swiper-pagination",
					clickable : true
				},
				loop : true,
				autoplay : {
					delay : 1000,
					disableOnInteraction : false,
				},
				mousewheel : true,
				keyboard : true,

			});
		</script>		
		</body>
</html>