<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/owl.carousel.min.js"></script>

</head>
<body>
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<div layout:fragment="content">
		<section class="hero">
			<div class="container">
				<div class="swiper mySwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<a href="https://www.afreecatv.com" target="_blank"><img
								src="/images/afreeca_main.jpg"></a>
						</div>
						<div class="swiper-slide">
							<a href="https://www.twitch.tv" target="_blank"><img
								src="/images/twitch_main.jpg"></a>
						</div>
					</div>
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</section>

		<section class="product spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="streamer_random">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="section-title">
										<h4 style="text-align: left;">새로운 방송인을 만나보세요</h4>
									</div>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2">
									<div class="btn__all">
										<a href="#" class="primary-btn" style="color: black">게임방송</a>
									</div>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2">
									<div class="btn__all">
										<a href="#" class="primary-btn" style="color: black">저스트채팅</a>
									</div>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2">
									<div class="btn__all">
										<a href="#" class="primary-btn" style="color: black">V-tuber</a>
									</div>
								</div>
							</div>
							<!-- 이 위는 한번만 생성됨. -->
							
							
							<div class="row">
							<th:block th:each="broad : ${broads}">
							
							
														 
							 
								<div class="col-xl-3 col-lg-4 col-md-6">
									<div class="image-flip">
										<div class="mainflip flip-0">
											<div class="frontside">
												<div class="card">
													<div class="card-body text-center">
														<p>
															<img class="img-fluid" th:src="${broad.imgUrl}"
																alt="card image">
														</p>
														<div class="ep">저스트 채팅</div>
														<h4 class="card-title">[[${broad.nickname}]]</h4>
													</div>
												</div>
											</div>
											<div class="backside">
												<div class="card">
													<div class="card-body text-center mt-4">
														<h4 class="card-title">[[${broad.nickname}]]</h4>
														<a href="#"><p>
																<img class=" img-fluid" th:src="${broad.imgUrl}"
																	alt="card image">
															</p></a> <a href="#"><p class="card-text">[[${broad.broadInfo}]]</p></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
 							</th:block>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script
			src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
		<script>
			var swiper = new Swiper(".mySwiper", {
				cssMode : true,

				navigation : {
					nextEl : ".swiper-button-next",
					prevEl : ".swiper-button-prev",
				},
				pagination : {
					el : ".swiper-pagination",
					clickable : true
				},
				loop : true,
				autoplay : {
					delay : 1000,
					disableOnInteraction : false,
				},
				mousewheel : true,
				keyboard : true,

			});
		</script>
	</div>

</body>
</html>