<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/> <!-- Ajax사용을 위해서 넣었음. 내가 데이터를 등록할 때, 수정할 때 해커들에 의해 하이재킹 당하지 않도록 함. -->
<meta name="_csrf_header" th:content="${_csrf.headerName}"/> <!-- Ajax사용을 위해서 넣었음. 내가 데이터를 등록할 때, 수정할 때 해커들에 의해 하이재킹 당하지 않도록 함. -->
<title>Insert title here</title>

<!-- 각 페이지에 스크립트가 작성될 위치를 지정합니다. -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function(){
			calculateTotalPrice();
			
			$('#count').change(function(){
				calculateTotalPrice();
			})
		});
	
		function calculateTotalPrice() {
			var count = $('#count').val(); //수량
			var price = $('#price').val(); //가격
			var totalPrice = price * count;
			
			$('#totalPrice').html(totalPrice + '원');
		}
		
		function order() {
			var token = $("meta[name='_csrf']").attr("content"); //_csrf에 대한 content값을 가져와서 token에 넣어줌.
			var header = $("meta[name='_csrf_header']").attr("content"); //_csrf_header에 대한 content값을 가져와서 header에 넣어줌.
			
			var url = "/order"; 
			
			var paramData = { //자바스크립트(제이쿼리) 객체데이터 만드는 형식입니다.  객체 리터럴 방식(Object Literal)
					itemId : $('#itemId').val(),
					count : $('#count').val()
					//이제는 컨트롤러에 넘겨주도록 하겠습니다. 그 전에 객체데이터를 문자열 형태로 바꿔주겠습니다.
			};
			
			var param = JSON.stringify(paramData); //문자열 형태로 변경.
			
			$.ajax({
				url: url, //요청이 전송될 URL 주소, 서버에서 요청할 주소
				type: "POST", //http 요청 방식
				contentType : "application/json", //json 형태로 리퀘스트 한다는 뜻
				data: param,
				beforeSend: function(xhr) { //xhr : XHR 헤더
					 //데이터를 전송하기전에 헤더에 아까 만들어놓은 csrf 값을 설정해줍니다.    
					xhr.setRequestHeader(header, token);
				},
				dataType: "json", //응답 데이터 형식 , 컨트롤러에서 Response 해주는 데이터의 형식(?)
				cache: false, //캐시 사용 여부
				success : function(result, status) { //요청에 따라 정상적으로 응답을 받았을때 콜백을 호출.
					//alert("orderId:" + result);
					location.href = "/"; //메인 홈페이지로 이동시킴.
				},
				error : function(jqXHR, status, error) { //응답을 받지 못하거나 데이터 형식을 지정을 하고 서버에서 응답을 했을 때와 다른 경우에 호출, status = 에러코드 등 써있음 ex) 401, 500 등등
					if(jqXHR.status == '401' ) {
						alert('로그인 후 이용해주세요.');
						location.href = '/members/login'; //로그인 페이지로 이동시킴.
					} else {
						alert(jqXHR.responseText); //에러 메시지를 띄워줌.
					}
				}
			});
		}
		/*주문버튼을 누르면 order함수가 실행되고 객체데이터를 만들어서 url "/order" 로 리퀘스트가 갈거고 서비스호출해서 실행이 다 완료가 되면, 
		성공하면 success로 result에는 리턴해준 결과물이 찍히고 메인페이지로 이동시킴
		실패하면 error로 갈거고 에러코드가 401이면 로그인해주세요 라고 찍히고 로그인홈페이지로 가겠지만, 다른 에러일 경우 alert를 보여주고 끝난다.
		나중에 satus랑 error에 뭐가 찍히는지도 확인해보세요.
		*/
		
	</script>
</th:block>

<!-- 각 페이지에 CSS가 작성될 위치를 지정합니다. -->
<th:block layout:fragment="css">
	<style>
	    .mgb-15{
            margin-bottom:15px;
        }
        .mgt-30{
            margin-top:30px;
        }
        .mgt-50{
            margin-top:50px;
        }
        .repImgDiv{
            margin-right:15px;
            height:auto;
            width:50%;
        }
        .repImg{
            width:100%;
            height:400px;
        }
        .wd50{
            height:auto;
            width:50%;
        }
	
	</style>
</th:block>

</head>
<body>
	<div layout:fragment="content" style="margin-left: 25%; margin-right: 25%;">
		
		<input type="hidden" id="itemId" th:value="${item.id}">

		<div class="d-flex">
			<div class="repImgDiv">
				<img th:src="${item.itemImgDtoList[0].imgUrl}" class="rounded repImg" th:alt="${item.itemNm}">
			</div>
			<div class="wd50">
				<span th:if="${item.itemSellStatus == T(com.myshop.constant.ItemSellStatus).SELL}" class="badge badge-primary mgb-15"> 판매중 </span> 
				<span th:unless="${item.itemSellStatus == T(com.myshop.constant.ItemSellStatus).SELL}" class="badge btn-danger mgb-15"> 품절 </span>
				<div class="h4" th:text="${item.itemNm}"></div>
				<hr class="my-4">

				<div class="text-right">
					<div class="h4 text-danger text-left">
						<input type="hidden" th:value="${item.price}" id="price" name="price"> 
						<span th:text="${item.price}"></span>원
					</div>
					<div class="input-group w-50">
						<div class="input-group-prepend">
							<span class="input-group-text">수량</span>
						</div>
						<input type="number" name="count" id="count" class="form-control"
							value="1" min="1">
					</div>
				</div>
				<hr class="my-4">

				<div class="text-right mgt-50">
					<h5>결제 금액</h5>
					<h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
				</div>
				<div th:if="${item.itemSellStatus == T(com.myshop.constant.ItemSellStatus).SELL}" class="text-right">
					<button type="button" class="btn btn-light border border-primary btn-lg">장바구니 담기</button>
					<button type="button" class="btn btn-primary btn-lg" onclick="order()">주문하기</button>
				</div>
				<div th:unless="${item.itemSellStatus == T(com.myshop.constant.ItemSellStatus).SELL}" class="text-right">
					<button type="button" class="btn btn-danger btn-lg">품절</button>
				</div>
			</div>
		</div>

		<div class="jumbotron jumbotron-fluid mgt-30">
			<div class="container">
				<h4 class="display-5">상품 상세 설명</h4>
				<hr class="my-4">
				<p class="lead" th:text="${item.itemDetail}"></p>
			</div>
		</div>

		<div th:each="itemImg : ${item.itemImgDtoList}" class="text-center">
			<img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" class="rounded mgb-15" width="800">
			
		</div>
	</div>
</body>
</html>