<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			var errorMessage = [[${errorMessage}]];
			if(errorMessage != null) {
				alert(errorMessage);
			}
		});
			if(errorMessage != null) {
				alert(errorMessage);
			}
		});
	</script>
</th:block>

</head>

<body>
	<div layout:fragment="content">
    	<section class="normal-breadcrumb set-bg" style="background:#070720";>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <p>Welcome to the Search Streamer</p>
                        <h2>SignUp</h2>
                    </div>
                </div>
            </div>
        </div>
    	</section>
    	<section class="login spad">
        <div class="container">
            <div class="sign-up-content">
                <form action="/members/new" method="post" th:object="${memberFormDto}">
<!--                     <div class="form-radio">               	
             	
                        <input type="radio" name="member_level" value="viewer" id="viewer" checked="checked" />
                        <label for="viewer">시청자</label>

                        <input type="radio" name="member_level" value="streamer" id="streamer" />
                        <label for="streamer">방송인</label>
                    </div> -->

                    <div class="form-textbox row">
                        <label th:for="email">이메일</label>
                        <input type="email" th:field="*{email}" class="form-control" placeholder="abcd@email.com" style="padding-left: 100px;" />
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">잘못된 email 입력</p>
                    </div>
                    
                    <div class="form-textbox row">
                        <label for="password">비밀번호</label>
                        <input type="password" th:field="*{password}" class="form-control" style="padding-left: 100px; border-radius:inherit" />
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">잘못된 password 입력</p>
                    </div>

                    <!-- <div class="form-textbox row form-bottom">
                        <div class="col">
                            <label for="profile">프로필 사진</label>
                        </div>
                        <div class="col-10">
                            <div id="image_container">
                                <img id="preview" style="width: 50%;"/>
                            </div>
                            <input type="file" onchange="readURL(this);" class="profile bg-white" id="profile" style="border: 0;"> 
                        </div>
                    </div> --> 
                    <br>
                    
                    <div class="form-textbox row signWrap" style="text-align:center;">
                        <button type="submit" class="submitSign">회원가입</button>
                        <button type="button" onclick="location.href='/'" class="submitSign">가입취소</button>
                    </div>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">         
                </form>

                <p class="loginhere">
                    이미 회원이신가요 ?<a href="/members/login" class="loginhere-link" style="text-decoration:none"> Log in</a>
                </p>
            </div>
        </div>
    </section>

	</div>
	<script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>