<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div th:fragment="header">
		<nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/images/ju_taime.png" style="width: 150px;" alt="logo"></a>
            <div class="s128">
                <form>
                    <div class="inner-form">
                        <div class="row">
                            <div class="input-field first" id="first">
                                <input class="input" id="inputFocus" type="text" placeholder="Keyword" />
                                <button class="clear" id="clear"></button>
                            </div>
                        <a href="/members/login" class="sign_icon"><i class="fa-solid fa-user" style="font-size: 40px; margin: 10px;" ></i></a>
                        <a class="nav-link" href="/members/logout" sec:authorize="isAuthenticated()">로그아웃</a>
						 </div>
					</div>                    
                </form>
            </div>
        </div>
    </nav>

	</div>
</body>
</html>