<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div th:fragment="header2">
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		    <div class="container-fluid">
		    
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="fa fa-bars"></span> Menu
		      </button>
		      <div class="collapse navbar-collapse" id="ftco-nav">
		        <ul class="navbar-nav m-auto">
		        
		        								<!-- 여기 a태그 수정해야되용.  -->
		        								<!-- th:action="'/view/'+${member.id} -->
		        	<li class="nav-item active">
		        	<button class="btn btn-secondary" style="margin-right:50px; min-width: 135px; background-color:#343a40;" th:onclick="|location.href='@{/view/{memberId}(memberId=${member.id})}'|">FEED</button>
		        	
<!-- 		        	<form th:action="@{/view/{memberId}(memberId=${member.id})}" method="get">
		        		<input type="hidden" name="memberId" th:value="${member.id}">
		        		<button type="submit" class="btn btn-secondary" style="margin-right: 50px; min-width: 135px; background-color:#343a40;">FEED</button>
		        	</form> -->
		        	</li>
		        	<li class="nav-item">
		        		<form th:action="@{/search/{memberId}(memberId=${member.id})}" method="get">
		        			<input type="hidden" name="query" th:value="${member.nickname}">
		        			<input type="hidden" name="number" th:value="10">
		        			<button type="submit" class="btn btn-secondary"  style="margin-right:50px; min-width: 135px; background-color:#343a40;">미디어</button>
		        		</form>
		        	</li>
		        	<li class="nav-item">
		        		<form th:action="@{/board/{memberId}(memberId=${member.id})}" method="get">
		        			<input type="hidden" name="memberId" th:value="${member.id}">
		        			<button type="submit" class="btn btn-secondary" style="margin-right:50px; min-width: 135px; background-color:#343a40;">팬아트</button>
		        		</form> 
		        	</li>
		        	
		        </ul>
		      </div>
		    </div>
		</nav>

	</div>
</body>
</html>