<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }
        .margin{
            margin-bottom:30px;
        }
        .banner{
            height: 300px;
            position: absolute; top:0; left: 0;
            width: 100%;
            height: 100%;
        }
        .card-text{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        a:hover{
            text-decoration:none;
        }
        .center{
            text-align:center;
        }
    </style>
</th:block>

</head>

<body>
	<div layout:fragment="content">
		<div id="carouselControls" class="carousel slide margin" data-ride="carousel">
        	<div class="carousel-inner">
            	<div class="carousel-item active item">
                	<img class="d-block w-100 banner"
                		src="https://user-images.githubusercontent.com/13268420/112147492-1ab76200-8c20-11eb-8649-3d2f282c3c02.png" 
                		alt="First slide">
        		</div>
    		</div>
    	</div>
	<!-- 검색결과 문구를 출력합니다. -->
	<input type = "hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}"/>
	<div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
		<p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과입니다'" ></p>
	</div>
	
	<!-- 상품 카드 -->

	    <div class="row">
	    	<!-- div를 반복적으로 뽑고 싶을 때 쓰는 블록으로 주로 th:each와 같이 쓰이며, html 실제 브라우저에서 보이는 태그 X -->
	    	<th:block th:each="item, status: ${items.getContent()}">
	    		<div class="col-md-4 margin">
					<div class="card">
						<!-- ${item.id} 로 상품 상세페이지 연결 -->
						<a th:href="'/item/' + ${item.id}" class="text-dark">
							<img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="400">
							<div class="card-body">
								<h5 class="card-title">[[${item.itemNm}]]</h5>
								<p class="card-text">[[${item.itemDetail}]]</p>
								<h3 class="card-title text-danger">[[${item.price}]]원</h3>
							</div>
						</a>
					</div>
	    		</div>
	    	</th:block>
	    </div>
			<!-- 페이징 버튼    th:with="변수값을 정의" 할때 사용-->
			<!-- start = (현재페이지 번호/보여줄 페이지의 수) + 1 	, = 페이지의 시작 번호 -->
			<!-- end = start + (보여줄 페이지의 수 - 1) 		, = 페이지의 마지막(끝) 번호 -->
			item.number[[${items.number}]],
			maxPage: [[${maxPage}]]
			totalPages: [[${items.totalPages}]]
			<nav 
				th:with="start=${(items.number/maxPage)*maxPage+1}
			,end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" 
			aria-label="Page navigation example">
			  	<ul class="pagination d-flex justify-content-center">
				    <li class="page-item" th:classappend="${items.first}?'disabled'">
				    	<a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}" class="page-link">
				    		<span>이전</span>
				    	</a>
				    </li>
				    <li class="page-item" 
				    	th:each="page: ${#numbers.sequence(start, end)}"
				    	th:classappend="${items.number eq page-1}?'active':''">				    	
				    	<a class="page-link" th:inline="text"
				    	th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}">[[${page}]]</a>
				    </li>
				    <li class="page-item" th:classappend="${items.last}?'disabled'">
				    	<a class="page-link"
				    	th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}">다음</a>
				    </li>
  				</ul>
			</nav>
	</div>
	
	
</body>
</html>